@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219 ,220;
  --background-end-rgb: 255, 255 ,255;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(var(--background-end-rgb))
      )
  )
  rgb(var(var(--background-start-rgb)))
}

